.grid-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  padding: 30px 0px 0px 0px;
}

.cell{
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.cell > i {
  font-size: 100px;
}

.hover > i{
  color: rgba(0, 0, 0, 0);
}

.hover > i:hover{
  color: rgba(0, 0, 0, 0.5);
}

.blocked{
  opacity: 0.1;
}

#options{
  padding: 30px 60px 0px 60px;
}

.cell:nth-child(1){
  border-width: 0px 1px 1px 0px;
}
.cell:nth-child(2){
  border-width: 0px 1px 1px 1px;
}
.cell:nth-child(3){
  border-width: 0px 0px 1px 1px;
}
.cell:nth-child(4){
  border-width: 1px 1px 1px 0px;
}
.cell:nth-child(6){
  border-width: 1px 0px 1px 1px;
}
.cell:nth-child(7){
  border-width: 1px 1px 0px 0px;
}
.cell:nth-child(8){
  border-width: 1px 1px 0px 1px;
}
.cell:nth-child(9){
  border-width: 1px 0px 0px 1px;
}
